:root {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable scrolling */
  height: 100vh; /* Fill the entire viewport */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Gap between columns */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* One column for smaller screens */
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.column {
  overflow: hidden; /* Prevent overflow */
}

.column:first-child {
  border-right: 1px solid #ccc; /* Add border between columns */
}

h1 {
  text-align: center;
}

li {
  margin-bottom: 10px;
}
